.opal-contact-button
{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opal-contact-button > a > i
{
    font-size: 1rem;
    color: #626262;
    font-weight: 900 !important;
}

.opal-contact-button > a > i:hover
{
    color: black;
}
