
@font-face {
  font-family: "shopic-icon";
  src: url("../../../fonts/icons/shopic-icon-2.3.7.eot");
  src: url("../../../fonts/icons/shopic-icon-2.3.7.eot?#iefix") format("eot"), url("../../../fonts/icons/shopic-icon-2.3.7.woff2") format("woff2"), url("../../../fonts/icons/shopic-icon-2.3.7.woff") format("woff"), url("../../../fonts/icons/shopic-icon-2.3.7.ttf") format("truetype"), url("../../../fonts/icons/shopic-icon-2.3.7.svg#shopic-icon-2.3.7") format("svg"); }

[class*="shopic-icon-"] {
  font-family: "shopic-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle; }

.shopic-icon-account:before {
  content: ""; }

.shopic-icon-aids:before {
  content: ""; }

.shopic-icon-anti:before {
  content: ""; }

.shopic-icon-arrow-down:before {
  content: ""; }

.shopic-icon-arrow-left:before {
  content: ""; }

.shopic-icon-arrow-right:before {
  content: ""; }

.shopic-icon-arrow-up:before {
  content: ""; }

.shopic-icon-boot:before {
  content: ""; }

.shopic-icon-box-check:before {
  content: ""; }

.shopic-icon-box:before {
  content: ""; }

.shopic-icon-calendar:before {
  content: ""; }

.shopic-icon-calorie:before {
  content: ""; }

.shopic-icon-camera:before {
  content: ""; }

.shopic-icon-caret-vertiacl-menu:before {
  content: ""; }

.shopic-icon-cart:before {
  content: ""; }

.shopic-icon-computer:before {
  content: ""; }

.shopic-icon-contact-2:before {
  content: ""; }

.shopic-icon-delivery:before {
  content: ""; }

.shopic-icon-discount:before {
  content: ""; }

.shopic-icon-drone:before {
  content: ""; }

.shopic-icon-envelope-open-text:before {
  content: ""; }

.shopic-icon-eyecare:before {
  content: ""; }

.shopic-icon-faceskin:before {
  content: ""; }

.shopic-icon-formula:before {
  content: ""; }

.shopic-icon-free:before {
  content: ""; }

.shopic-icon-gaming:before {
  content: ""; }

.shopic-icon-gem:before {
  content: ""; }

.shopic-icon-headphone:before {
  content: ""; }

.shopic-icon-headset:before {
  content: ""; }

.shopic-icon-help:before {
  content: ""; }

.shopic-icon-hydrating:before {
  content: ""; }

.shopic-icon-id-card:before {
  content: ""; }

.shopic-icon-long-arrow-down:before {
  content: ""; }

.shopic-icon-long-arrow-left:before {
  content: ""; }

.shopic-icon-long-arrow-right:before {
  content: ""; }

.shopic-icon-long-arrow-up:before {
  content: ""; }

.shopic-icon-mail:before {
  content: ""; }

.shopic-icon-map-marker-alt:before {
  content: ""; }

.shopic-icon-map-marker:before {
  content: ""; }

.shopic-icon-money:before {
  content: ""; }

.shopic-icon-networking:before {
  content: ""; }

.shopic-icon-off:before {
  content: ""; }

.shopic-icon-paper-plane:before {
  content: ""; }

.shopic-icon-payment:before {
  content: ""; }

.shopic-icon-pencil-ruler:before {
  content: ""; }

.shopic-icon-person:before {
  content: ""; }

.shopic-icon-phone-1:before {
  content: ""; }

.shopic-icon-phone-volume:before {
  content: ""; }

.shopic-icon-phone:before {
  content: ""; }

.shopic-icon-pickup:before {
  content: ""; }

.shopic-icon-professionals-1:before {
  content: ""; }

.shopic-icon-protected:before {
  content: ""; }

.shopic-icon-quote-1:before {
  content: ""; }

.shopic-icon-quote-2:before {
  content: ""; }

.shopic-icon-returns:before {
  content: ""; }

.shopic-icon-rocket:before {
  content: ""; }

.shopic-icon-search:before {
  content: ""; }

.shopic-icon-shield-alt:before {
  content: ""; }

.shopic-icon-shoe-prints:before {
  content: ""; }

.shopic-icon-smartphone:before {
  content: ""; }

.shopic-icon-speaker:before {
  content: ""; }

.shopic-icon-spray-can:before {
  content: ""; }

.shopic-icon-support:before {
  content: ""; }

.shopic-icon-tag:before {
  content: ""; }

.shopic-icon-tags:before {
  content: ""; }

.shopic-icon-telephone:before {
  content: ""; }

.shopic-icon-tennis-ball:before {
  content: ""; }

.shopic-icon-theme-clock:before {
  content: ""; }

.shopic-icon-tv:before {
  content: ""; }

.shopic-icon-undo:before {
  content: ""; }

.shopic-icon-water:before {
  content: ""; }

.shopic-icon-wishlist:before {
  content: ""; }

.shopic-icon-360:before {
  content: ""; }

.shopic-icon-angle-down:before {
  content: ""; }

.shopic-icon-angle-left:before {
  content: ""; }

.shopic-icon-angle-right:before {
  content: ""; }

.shopic-icon-angle-up:before {
  content: ""; }

.shopic-icon-arrow-circle-down:before {
  content: ""; }

.shopic-icon-arrow-circle-left:before {
  content: ""; }

.shopic-icon-arrow-circle-right:before {
  content: ""; }

.shopic-icon-arrow-circle-up:before {
  content: ""; }

.shopic-icon-bars:before {
  content: ""; }

.shopic-icon-caret-down:before {
  content: ""; }

.shopic-icon-caret-left:before {
  content: ""; }

.shopic-icon-caret-right:before {
  content: ""; }

.shopic-icon-caret-up:before {
  content: ""; }

.shopic-icon-cart-empty:before {
  content: ""; }

.shopic-icon-check-square:before {
  content: ""; }

.shopic-icon-chevron-circle-left:before {
  content: ""; }

.shopic-icon-chevron-circle-right:before {
  content: ""; }

.shopic-icon-chevron-down:before {
  content: ""; }

.shopic-icon-chevron-left:before {
  content: ""; }

.shopic-icon-chevron-right:before {
  content: ""; }

.shopic-icon-chevron-up:before {
  content: ""; }

.shopic-icon-circle:before {
  content: ""; }

.shopic-icon-clock:before {
  content: ""; }

.shopic-icon-cloud-download-alt:before {
  content: ""; }

.shopic-icon-comment:before {
  content: ""; }

.shopic-icon-comments:before {
  content: ""; }

.shopic-icon-contact:before {
  content: ""; }

.shopic-icon-credit-card:before {
  content: ""; }

.shopic-icon-dot-circle:before {
  content: ""; }

.shopic-icon-edit:before {
  content: ""; }

.shopic-icon-envelope:before {
  content: ""; }

.shopic-icon-expand-alt:before {
  content: ""; }

.shopic-icon-external-link-alt:before {
  content: ""; }

.shopic-icon-eye:before {
  content: ""; }

.shopic-icon-file-alt:before {
  content: ""; }

.shopic-icon-file-archive:before {
  content: ""; }

.shopic-icon-filter:before {
  content: ""; }

.shopic-icon-folder-open:before {
  content: ""; }

.shopic-icon-folder:before {
  content: ""; }

.shopic-icon-free_ship:before {
  content: ""; }

.shopic-icon-frown:before {
  content: ""; }

.shopic-icon-gift:before {
  content: ""; }

.shopic-icon-grid:before {
  content: ""; }

.shopic-icon-grip-horizontal:before {
  content: ""; }

.shopic-icon-heart-fill:before {
  content: ""; }

.shopic-icon-heart:before {
  content: ""; }

.shopic-icon-history:before {
  content: ""; }

.shopic-icon-home:before {
  content: ""; }

.shopic-icon-info-circle:before {
  content: ""; }

.shopic-icon-instagram:before {
  content: ""; }

.shopic-icon-level-up-alt:before {
  content: ""; }

.shopic-icon-list:before {
  content: ""; }

.shopic-icon-long-arrow-alt-down:before {
  content: ""; }

.shopic-icon-long-arrow-alt-left:before {
  content: ""; }

.shopic-icon-long-arrow-alt-right:before {
  content: ""; }

.shopic-icon-long-arrow-alt-up:before {
  content: ""; }

.shopic-icon-map-marker-check:before {
  content: ""; }

.shopic-icon-meh:before {
  content: ""; }

.shopic-icon-minus-circle:before {
  content: ""; }

.shopic-icon-minus:before {
  content: ""; }

.shopic-icon-mobile-android-alt:before {
  content: ""; }

.shopic-icon-money-bill:before {
  content: ""; }

.shopic-icon-pencil-alt:before {
  content: ""; }

.shopic-icon-play-circle:before {
  content: ""; }

.shopic-icon-plus-circle:before {
  content: ""; }

.shopic-icon-plus:before {
  content: ""; }

.shopic-icon-quote:before {
  content: ""; }

.shopic-icon-random:before {
  content: ""; }

.shopic-icon-reply-all:before {
  content: ""; }

.shopic-icon-reply:before {
  content: ""; }

.shopic-icon-search-plus:before {
  content: ""; }

.shopic-icon-shield-check:before {
  content: ""; }

.shopic-icon-shopping-basket:before {
  content: ""; }

.shopic-icon-shopping-cart:before {
  content: ""; }

.shopic-icon-sign-out-alt:before {
  content: ""; }

.shopic-icon-smile:before {
  content: ""; }

.shopic-icon-spinner:before {
  content: ""; }

.shopic-icon-square:before {
  content: ""; }

.shopic-icon-star:before {
  content: ""; }

.shopic-icon-store:before {
  content: ""; }

.shopic-icon-sync:before {
  content: ""; }

.shopic-icon-tachometer-alt:before {
  content: ""; }

.shopic-icon-th-large:before {
  content: ""; }

.shopic-icon-th-list:before {
  content: ""; }

.shopic-icon-thumbtack:before {
  content: ""; }

.shopic-icon-times-circle:before {
  content: ""; }

.shopic-icon-times:before {
  content: ""; }

.shopic-icon-trophy-alt:before {
  content: ""; }

.shopic-icon-truck:before {
  content: ""; }

.shopic-icon-user-headset:before {
  content: ""; }

.shopic-icon-user-shield:before {
  content: ""; }

.shopic-icon-user:before {
  content: ""; }

.shopic-icon-video:before {
  content: ""; }

.shopic-icon-adobe:before {
  content: ""; }

.shopic-icon-amazon:before {
  content: ""; }

.shopic-icon-android:before {
  content: ""; }

.shopic-icon-angular:before {
  content: ""; }

.shopic-icon-apper:before {
  content: ""; }

.shopic-icon-apple:before {
  content: ""; }

.shopic-icon-atlassian:before {
  content: ""; }

.shopic-icon-behance:before {
  content: ""; }

.shopic-icon-bitbucket:before {
  content: ""; }

.shopic-icon-bitcoin:before {
  content: ""; }

.shopic-icon-bity:before {
  content: ""; }

.shopic-icon-bluetooth:before {
  content: ""; }

.shopic-icon-btc:before {
  content: ""; }

.shopic-icon-centos:before {
  content: ""; }

.shopic-icon-chrome:before {
  content: ""; }

.shopic-icon-codepen:before {
  content: ""; }

.shopic-icon-cpanel:before {
  content: ""; }

.shopic-icon-discord:before {
  content: ""; }

.shopic-icon-dochub:before {
  content: ""; }

.shopic-icon-docker:before {
  content: ""; }

.shopic-icon-dribbble:before {
  content: ""; }

.shopic-icon-dropbox:before {
  content: ""; }

.shopic-icon-drupal:before {
  content: ""; }

.shopic-icon-ebay:before {
  content: ""; }

.shopic-icon-facebook:before {
  content: ""; }

.shopic-icon-figma:before {
  content: ""; }

.shopic-icon-firefox:before {
  content: ""; }

.shopic-icon-google-plus:before {
  content: ""; }

.shopic-icon-google:before {
  content: ""; }

.shopic-icon-grunt:before {
  content: ""; }

.shopic-icon-gulp:before {
  content: ""; }

.shopic-icon-html5:before {
  content: ""; }

.shopic-icon-jenkins:before {
  content: ""; }

.shopic-icon-joomla:before {
  content: ""; }

.shopic-icon-link-brand:before {
  content: ""; }

.shopic-icon-linkedin:before {
  content: ""; }

.shopic-icon-mailchimp:before {
  content: ""; }

.shopic-icon-opencart:before {
  content: ""; }

.shopic-icon-paypal:before {
  content: ""; }

.shopic-icon-pinterest-p:before {
  content: ""; }

.shopic-icon-reddit:before {
  content: ""; }

.shopic-icon-skype:before {
  content: ""; }

.shopic-icon-slack:before {
  content: ""; }

.shopic-icon-snapchat:before {
  content: ""; }

.shopic-icon-spotify:before {
  content: ""; }

.shopic-icon-trello:before {
  content: ""; }

.shopic-icon-twitter:before {
  content: ""; }

.shopic-icon-vimeo:before {
  content: ""; }

.shopic-icon-whatsapp:before {
  content: ""; }

.shopic-icon-wordpress:before {
  content: ""; }

.shopic-icon-yoast:before {
  content: ""; }

.shopic-icon-youtube:before {
  content: ""; }

